<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <table>
      <tr>
        <td colspan="3">
          <h1>THE FLATIRON SCHOOL</h1>
        </td>
      </tr>
     
      <tr>
        <td colspan="3">
          <p>Hi, Daniel</p>
        </td>
      </tr>
     
      <tr>
        <td colspan="3">
          <p>This prework notification is being sent to you becasue you are behind on the following course work:</p>
        </td>
      </tr>

      <tr>
        <td>@user_course</td>
        <td>ESTIMATED TIME</td>   
      </tr>

      <tr>
        <td colspan="3"><p>Thanks,<br> Avi</p></td>
      </tr>
    </table>
  </body>
</html>