<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <h1>THE FLATIRON SCHOOL</h1>
        </td>
      </tr>
     
      <tr>
        <td>
          <p>Hi, <%= @invite.first_name %></p>
        </td>
      </tr>
     
      <tr>
        <td>
          <p>Welcome to Flatiron! Please use the below link to sign up:</p>
        </td>
      </tr>

      <tr>
        <td>
          <p><%= link_to "Sign up to Iron Board", complete_signup_url(@invite, :token => @invite.token) %></p>
        </td>
      <tr>
        <td><p>Thanks,<br> BOB</p></td>
      </tr>

    </table>
  </body>
</html>