<h1>This is the Course page</h1>
<p>

<% @subjects.each do |s| %>
	<ul><%= s.name %>
		<% s.courses.each do |c| %>
			<li><%= link_to c.name, c.url, {:target=> "_blank"} %></li>
		<% end %>
	</ul>
<% end %>
</p>
