<br>
<div class="container">
  <div class="row">
    <div class="span8">
    	<center>
      <div class="form-5" id="signupForm" style="height:800px">
			<h1>Update Your Information:</h1>
			  <%= render partial: 'form' %>
      </div>
      </center>
    </div>
  </div>
</div>