<br>
<div class="container">
  <div class="row">
    <div class="span8">
      <div class="form-5" id="signupForm" style="height:700px">
			<h1>Update Your Information:</h1>
			  <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>