<br>
<div class="container">
	<div class="row">
		<div class="span5 offset4">
		  <h1>New User Sign-Up:</h1>
		</div>
	</div>
  <div class="row">
  	<div class="span7">
  		<br><br>
  		<%= image_tag "http://i1283.photobucket.com/albums/a553/erin_lee1/ironboard-hello_zps90f379ba.jpg" %>
  	</div>
    <div class="span5">
      <div class="form-5" id="signupForm" style="height:700px">
        <%= render 'form' %>
      </div>
    </div> <!-- span8 -->
  </div> <!-- row -->
</div> <!-- container -->