
<div class="container" style="margin-bottom: 195px;">
<h1>Class Directory</h1>
<%= image_tag "http://i1283.photobucket.com/albums/a553/erin_lee1/ironboard-logo_zps029be7ed.png", :width => "300", :align => "right" %>


<%= collection_select(:semester, :semester, Semester.all, :id, :name, {:prompt => 'Select A Semester...'}) %>

<div class="row">
  <div class="span8 directory" align="center">
    <table class="displaya">
    </table>
  </div>
</div>

