<nav id="highlight-sidebar">
  
    <h4>Overall Progress: <span id="text_overallprogress"><%= @average %>%</span> </h4>    
    <div class="progress progress-info progress-striped active">
      <div class="bar" id="overallprogress" style="width: <%= @average %>%" >
      </div>
    </div>
      <ul class="nav nav-list testingit">
  <% last_subject = nil %>
  <% @user_courses.each do |subject, courses| %>
    <li class="nav-header"><%= link_to subject, '#' + subject.downcase.gsub(/\s+/, '').gsub('&', "") %></li>
  <% end %>
  </ul>
</nav>
