<title>Iron Board</title><br>

<div class="container">
	<div class="row">
		<div class="span8" align="center">
			<br>
			<h3>Prework</h3>
			<h2>Awesome job, <em><%= @student.first_name.capitalize %>!!</em></h2>
			<h4>Keep it up!</h4>			
		</div>
		
		<div class="span4">
			<div class="well affix" data-offset-bottom="200">
				<%= render 'progress_summary' %>
			</div>
		</div>


	</div>
	<div class="row">
		<div class="span8">
			<div class="well">
				<!-- subjects is an array of our subjects -->

				<%= render 'user_courses' %>

			</div> <!-- well -->
		
		</div> <!-- row 2 -->
</div> <!-- container -->
