<title>Iron Board</title><br>

<div class="container">
	<div class="row">
		<div class="span8" align="center" id="flatiron-background">
			
			<div class="preworkoverview" style="margin-top:160px;">
				<h4><%= link_to 'Prework Overview', intro_path %></h4>	
			</div>
			
		</div>
		
		<div class="span4">
			<div class="well affix" data-offset-bottom="200">
				<%= render 'progress_summary' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div class="well">
				<!-- subjects is an array of our subjects -->

				<%= render 'user_courses' %>

			</div> <!-- well -->
		</div> <!-- span8 -->
	</div> <!-- row -->
</div> <!-- container -->
