<title>Iron Board</title><br>

<div class="container">
	<div class="row">
		<div class="span8" align="center">
			<br>
			<%= image_tag "http://i1283.photobucket.com/albums/a553/erin_lee1/ironboard-logo_zps029be7ed.png", :width => "250", :align => "right", :style =>"margin-bottom: 10px" %> 
			<h2 style="margin-top: 45px;">Awesome job, <span style="letter-spacing: 5px;"><br><em><%= @student.first_name.capitalize %>!!</span></em></h2>
			<h4>Keep it up!</h4>	
		</div>
		
		<div class="span4">
			<div class="well affix" data-offset-bottom="200">
				<%= render 'progress_summary' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div class="well">
				<!-- subjects is an array of our subjects -->

				<%= render 'user_courses' %>

			</div> <!-- well -->
		</div> <!-- span8 -->
	</div> <!-- row -->
</div> <!-- container -->
