/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require table.css
 *= require prettyPhoto.css
 *= require main.css 
 *= require bootstrap_and_overrides.css 
 *= require login.css
 *= require timer.css
 *= require navigation.css
 *= require flash.css
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

html, body {
    height: 100%
}
.first-page {
	background:#e4e4da;
	background-image: url('http://i1283.photobucket.com/albums/a553/erin_lee1/1_zps6ef6f29e.jpg');
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  padding-bottom: 55px;
}

div.body {
  width: 100%;
  height: 100%;
  background-image:url('http://i1283.photobucket.com/albums/a553/erin_lee1/sep-half_zpsb3f6dde9.png');
  z-index: -555;
  position: fixed;
}

a {
	text-decoration: none;
}
.description {
  color: #575656;
  font-size: 13px;
}
.descriptionurl {
  font-size: 10px;
}
.accordion-group {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#flatiron-background{
  background-image:url('http://i1283.photobucket.com/albums/a553/erin_lee1/image_zps764672ce.png');
  background-size: cover;
  height: 200px;
  border-top-left-radius:1em;
  border-top-right-radius:2em;
}

.preworkoverview {
  background-color: #ff6e01;
  color: #fff;
  border-radius: 30px;
  width: 40%;

}

.preworkoverview a {
  color: #fff;
}

#refresh {
  background-color: #ff6e01;
  color: #fff;
  width: 50%;
  border-radius: 10px;
}

#refresh a {
  color: #fff;
  padding-left: 6px;
  text-decoration: none;
}

.alert-info {
  background-color: rgba(255, 110, 1, 0.2);
  border-color: #ff6e01;
  color: #ff6e01;
  font-size: 30px;
  text-align: center;
  padding: 15px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
 
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
 
.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;

