/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require table.css
 *= require prettyPhoto.css
 *= require main.css 
 *= require bootstrap_and_overrides.css 
 *= require login.css
 *= require navigation.css
 *= require flash.css
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

html, body {
    height: 100%
}
.first-page {
	background:#e4e4da;
	background-image: url('http://i1283.photobucket.com/albums/a553/erin_lee1/1_zps6ef6f29e.jpg');
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  padding-bottom: 55px;
}

div.body {
  width: 100%;
  height: 100%;
  background-image:url('http://i1283.photobucket.com/albums/a553/erin_lee1/sep-half_zpsb3f6dde9.png');
  z-index: -555;
  position: fixed;
}

a {
	text-decoration: none;
}
.description {
  color: #575656;
  font-size: 13px;
}
.descriptionurl {
  font-size: 10px;
}
.accordion-group {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
