
.navbar {
	color: #4c453d;
	background-color: #4c453d;
}
.navbar-inverse .navbar-inner{
	background-image: linear-gradient(bottom, rgb(76,69,61) 5%, rgb(76,69,61) 53%);
	background-image: -o-linear-gradient(bottom, rgb(76,69,61) 5%, rgb(76,69,61) 53%);
	background-image: -moz-linear-gradient(bottom, rgb(76,69,61) 5%, rgb(76,69,61) 53%);
	background-image: -webkit-linear-gradient(bottom, rgb(76,69,61) 5%, rgb(76,69,61) 53%);
	background-image: -ms-linear-gradient(bottom, rgb(76,69,61) 5%, rgb(76,69,61) 53%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(76,69,61)),
		color-stop(0.53, rgb(76,69,61))
	);
}
.lion {
	background-color: #4c453d;
}
.navbar-fixed-top {
	top: 0;
}
.navbar-inner .navbar-inverse {
	background-color: #4c453d;
	border-color: #312d27;
}
.navbar-inner{
	padding-top: 15px;
	text-align: right;
	border-radius: 0;
	background-color: #4c453d;
	border-color: #312d27;
}
