<!-- footerwrap -->
<div id="footerwrap">
      <footer class="clearfix"></footer>
	<div class="container">
    <div class="row">
      		<div class="span12">
      			<p>Tim - Dan - Masha - Erin 
      				<br>Crafted With Love - Copyright 2013</p>
      		</div>
		</div><!-- /row -->
	</div><!-- /container -->		
</div><!-- /footerwrap -->

