<!-- footerwrap -->
<div id="footerwrap">
      <footer class="clearfix"></footer>
	<div class="container">
    <div class="row">
      		<div class="span12">
      			<p><%= link_to "Tim", "http://aspectratio.github.com/" %> - <%= link_to "Dan", "http://firstgeneration.github.io" %> - <%= link_to "Masha", "http://mrikhter.github.io" %> - <%= link_to "Erin", "http://www.erinandcode.com/" %>
      				<br>Crafted With Love - Copyright 2013</p>
      		</div>
		</div><!-- /row -->
	</div><!-- /container -->		
</div><!-- /footerwrap -->

