<div id="middlewrap">
     <br>
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row center">
      			<div class="span3">
		      		<div class="dash2-unit">
				        <br>
									<h6>Sign In</h6>
									<p>Sign in as a new user if you don't have an account already.</p>
								<div align='center'><%= image_tag 'device01.png' %></div>
							</div><!-- /dash2-unit -->
      			</div><!-- /span3 -->
				<div class="span3">
		      		<div class="dash2-unit">
				        <br>
				    <h6>Learn</h6>    
						<p style="padding-left:35px;">
							Git
							<br>Ruby on Rails
							<br>Javascript
							<br>SQL & Databases
							<br>HTML5/CSS3
							<br>& more ...
						</p>
		      		</div><!-- /dash2-unit -->
				</div><!-- /span3 -->
      			<div class="span3">
		      		<div class="dash2-unit">
				        <br>
				        <h6>Progress</h6>
						<p>Keep track of your progress for each course and see your overall progress.</p>
						<div class="progress progress-warning progress-striped active">
				      <div class="bar" id="overallprogress" style="width: 80%;" ></div>
			      </div>
						
					</div><!-- /dash2-unit -->
      			</div><!-- /span3 -->
      			<div class="span3">
		      		<div class="dash2-unit">
				        <br>
				        <h6>Time</h6>
								<p>Keep track of your time with the handy timer for every course.
									<div align="center">
										<%= image_tag 'stat04.png' %>
									</div>
<!-- 									<div>
										<%= image_tag "http://i1283.photobucket.com/albums/a553/erin_lee1/ScreenShot2013-04-14at113851PM_zps734fbdab.png" %>
									</div> -->
								</p>
						
					</div><!-- /dash2-unit -->
      			</div><!-- /span3 -->

      		</div><!-- /row -->
      	</div><!-- /container -->
      </div>